
    <form class="row g-3">
    <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Hospital No</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Surname</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">othernames</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Gender</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Date of Birth</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Profession</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">state of origin</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">Tribe</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">Religion</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>